@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(229, 57%, 11%);
  background-image: url('../images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: bottom;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  min-height: 60vh;
}

.container section {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: hsl(228, 56%, 26%);
  font-weight: 400;
  padding: 32px;
  margin: 0 16px;
  min-width: 20%;
  border-radius: 8px;
}

.container section div {
  display: block;
}

.container .menu {
  border-top-right-radius: 96px;
}

.container .menu .files {
  display: flex;
}

.container .menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(229, 57%, 11%);
  border-radius: 8px;
  text-decoration: none;
  width: 36px;
  height: 36px;
  padding: 4px;
  margin: 32px 16px 0 0;
}

.container .progress {
  display: flex;
  flex-direction: column;
}

.progress .field {
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: #151E49;
  border-radius: 8px;
  width: 500px;
  height: 16px;
}

.progress .field .bar {
  display: block;
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 8px;
  height: 16px;
  width: 300px;
}

.progress .count {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  width: 100%;
}

.container .balloom {
  display: none;
  position: absolute;
  height: 50px;
  border: 1px solid red;
}

.attribution {
  font-size: 11px;
  text-align: center; 
  width: 100%;
  padding-bottom: 8px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
  body {
    background-image: url('../images/bg-mobile.svg');
  }
}